/* ********************************************************************** */

.analysis-search > div > h1 {
    font-size: 42px;
    color: #008bd4;
    font-weight: 400;
    padding: 25px 0;
}
.search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #0085CE;
    position: relative;
}
.search-form-input {
    padding: 22px 75px 22px 14px;
    border: none;
    width: 100%;
    font-size: 20px;
    color: #404E55;
    transition: 0.3s;
}
.search-form-input:focus {
    outline: none;
    border: none;
}
.search-form-input::placeholder {
    color: #495257;
    opacity: 0.8;
}
.search-form::selection {
    outline: none;
}
.search-form-btn {
    cursor: pointer;
    width: 65px;
    padding: 14px 6px;
    background-color: transparent;
    border: none;
    border-left: 1px solid #0085CE;
}

.search-dropdown {
    display: none;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 100%;
    padding: 0 15px;
    background-color: #fff;
    width: 100%;
    border-top: 1px solid #0085CE;
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.25);
}
.search-card {
    padding: 10px 0;
    margin: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c5c5c5;
    line-height: 1.2;
}
.search-card-name {
    flex-basis: 60%;
    font-size: 15px;
    color: #404e55;
}
.search-card:hover > .search-card-name {
    color: #0085CE;
}
.search-card > p {
    font-size: 14px;
    color: #404e55;
}
.search-buy-block {
    flex-basis: 20%;
}
.search-card > p:last-of-type {
    margin-left: 5px;
}
.search-buy-block, .search-price {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    text-align: right;
    line-height: 1.1;
}
.small-price-text {
    font-size: 12px;
    color: #404E55;
    margin-left: 8px;
}
.search-buy-block > div > p {
    text-decoration: line-through;
}
.search-dropdown > a {
    display: inline-block;
    text-decoration: underline;
    margin: 20px 5px;
}
.search-buy-block > .busket  {
    margin-left: 15px;
}

.search-form-input:focus ~ .search-dropdown {
    display: block;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-top: 20px;
}
.card {
    background-color: #E2E6E8;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    padding: 22px 45px;
    color: #404E55;
    transition: 0.3s;
}
.card:hover {
    background-color: rgba(64, 78, 85, 0.6);
    color: #ffffff;
}

/* ********************************************************************** */

.analysis-popular > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-title {
    text-align: center;
    font-size: 18px;
    color: #0085CE;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.analysis-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}
.slider-arrow {
    fill: #0085CE;
    cursor: pointer;
    transition: 0.3s;
}
.slider-arrow:hover {
    fill: #FFD300;
}
.slider-arrow-right {
    transform: scale(-1, 1);
}
.slider-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider-item {
    background-color: rgba(142, 200, 231, 0.3);
    padding: 15px;
    border-radius: 8px;
    transition: 0.3s;
    color: #404E55;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slider-item:hover {
    box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.25);
}
.slider-item-title {
    font-size: 15px;
    line-height: 16px;
    transition: 0.3s;
}
.slider-item:hover > :first-child {
    color: #0085CE;
}
.slider-item-info {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #0085CE;
}
.slider-item-info > p {
    padding-left: 20px;
}
.slider-analysis-material {
    background-image: url(../images/analysis-icon-1.svg);
    background-repeat: no-repeat;
    background-position: left top;
    margin-bottom: 5px;
    line-height: 1;
}
.slider-analysis-time {
    background-image: url(../images/calendar-icon.svg);
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 1;
}
.slider-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider-item-bottom > div > p {
    display: inline-block;
}
.slider-item-price {
    font-family: 'Circe Bold';
    font-weight: 700;
    line-height: 1.2;
    font-size: 25px;
    color: #0085CE;
}
.busket {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0085CE;
    background-image: url(../images/cart-icon-white.svg);
    background-repeat: no-repeat;
    background-position: 6px 8px;
    background-size: 21px;
    transition: 0.3s;
}
.busket:hover {
    background-color: #FFD300;
}

/* slider settings */
.analysis-popular > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
.swiper-container {
    padding-bottom: 30px;
}
.swiper-button-prev, .swiper-button-next {
    width: 30px;
    height: 30px;
    position: inherit;
}
.swiper-button-prev:active, .swiper-button-next:active {
    border: none;
}
.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
}
.swiper-bullet {
    display: inline-block;
    cursor: pointer;
    width: 10px;
    height: 10px;
    border: 2px solid #0085CE;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
  }
.swiper-bullet-active {
    display: inline-block;
    background-color: #0085CE;
}


/* ********************************************************************** */

.research-area {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.research-item {
    cursor: pointer;
    flex-basis: 30%;
    background-repeat: no-repeat;
    background-size: 28px 28px;
    background-position: left top;
    padding-left: 45px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 18px;
    margin-left: 1.6%;
    margin-right: 1.6%;
    border-bottom: 1px solid #8EC8E7;
    color: #404E55;
    transition: 0.3s;
    line-height: 1;
    height: 65px;
}
.research-item:nth-last-of-type(1), .research-item:nth-last-of-type(2), .research-item:nth-last-of-type(3) {
    border: none;
}
.research-item-title {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 5px;
}
.research-item-subtitle {
    font-size: 12px;
}
.research-item:hover {
    color: #0085CE;
}
.research-types > div > div:last-of-type {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.button {
    display: inline;
    text-transform: uppercase;
    line-height: 36px;
    background-color: #0085CE;
    color: #fff;
    font-size: 13px;
    padding: 0 30px;
    display: inline-block;
    transition: 0.3s;
    border-radius: 8px;
}
.button:hover {
    background-color: #FFD300;
}

/* ********************************************************************** */

.points-map-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.points-map-block > ul {
    flex-basis: 47%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}
.list-point {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}
.list-point-description {
    flex-basis: 80%;
    height: 95px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.list-point-image {
    width: 95px;
    height: 95px;
    border: none;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
.list-point-desc-title {
    font-size: 15px;
    line-height: 18px;
    font-family: 'Circe Bold';
    color: #0085CE;
}
.list-point-desc-text {
    font-size: 13px;
    line-height: 1;
    color: #404E55;
}
#map {
    flex-basis: 52%;
    height: 600px!important;
    width: 100%!important;
  }
#map > *, #map > * > * {
    width: 100%;
    height: 100%;
}

/* ******************************************************************* */

.text-block-seo {
    padding-bottom: 30px;
    font-size: 18px;
    color: #444444;
}
.text-block-seo > .container > p:nth-of-type(1),
.text-block-seo > .container > p:nth-of-type(2) {
    margin-bottom: 15px;
}