.search > .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}
.search > .container > * {
    height: 35px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Circe';
    border-radius: 0;
}
.search > .container > input {
    border: 1px solid rgb(172, 172, 172);
    width: 50%;
    border-right: none;
}
.search > .container > button {
    cursor: pointer;
    width: 8%;
    border: none;
    color: #fff;
    background-color: #0085CE;
}
/* *********************************************************************** */
/* *********************************************************************** */
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip > .tooltip-text {
    visibility: hidden;
    width: 100%;
    white-space: normal;
    background-color: #777;
    color: #fff;
    text-align: center;
    padding: 4px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 1;
    bottom: 130%;
    left: -4px;
    position: absolute;
    z-index: 5;
}
.tooltip > .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #777 transparent transparent transparent;
}
.tooltip:hover > .tooltip-text {
    visibility: visible;
}
/* *********************************************************************** */
.analysisGroups > .container {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0;
}
.analysis-group {
    width: 31%;
    margin-bottom: 30px;
}
.analysis-group > div:first-of-type > div {
    overflow: hidden;
}
.analysis-group > div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.analysis-title {
    white-space: nowrap;
    color: #003ece;
    font-size: 18px;
    line-height: 1.3;
}
.tooltip > .tooltip-text::before {
    visibility: visible;
    left: calc(102% + 5px);
    top: 120%;
    position: absolute;
    content: '';
    background-color: #fff;
    box-shadow: -8px 0px 9px 5px #fff;
    width: 5px;
    height: 20px;
} 
.text {
    display: flex;
    flex-direction: column;
    flex-basis: 86%;
    overflow-x: hidden;
}
.text > a {
    font-size: 13.5px;
    color: #0086ce!important;
    text-decoration: underline;
    line-height: 2;
    white-space: nowrap;
}
.price {
    flex-basis: 14%;
    font-size: 13.5px;
    font-family: 'Circe Bold';
    text-align: right;
    line-height: 2;
    box-shadow: -7px 0px 10px 0px #fff;
    margin-bottom: 25px;
}
.analysis-group > div:last-of-type > a {
    color: #777;
    font-size: 14px;
    margin-right: 5px;
    text-decoration: underline;
}
.analysis-group > div:last-of-type > a:last-of-type {
    text-decoration: none;
}
.analysis-group > div:last-of-type {
    justify-content: flex-end;
    align-items: baseline;
}
/* ******************************************************************* */

.text-block-seo {
    margin-top: 40px;
    padding-bottom: 30px;
    font-size: 18px;
    color: #444444;
}
.text-block-seo > .container > p:nth-of-type(1),
.text-block-seo > .container > p:nth-of-type(2) {
    margin-bottom: 15px;
}