main > .container {
    padding-top: 40px;
    padding-bottom: 12%;
}
main > .container > h1 {
    font-size: 38px;
    margin-bottom: .5em;
    line-height: 1;
    font-weight: normal;
}
form > div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
form > div > input {
    background: #e9eff3 none repeat scroll 0 0;
    border-radius: 3px;
    border: 1px solid ;
    border-color: #a1a5a8 #cfd5d8 #e7edf1;
    box-shadow: 0 1px 1px rgba(0,0,0,.15) inset;
    color: #30424e;
    font: 18px/36px;
    height: 35px;
    max-width: 200px;
    padding: 0 12px;
    width: 200px;
    padding: 10px 5px;
    flex-basis: 40%;
}
form > div > label {
    color: #acb1b4;
    font-size: 13px;
    flex-basis: 60%;
    margin-left: 15px;
}
.error-message {
    flex-basis: 30%;
    margin-top: 5px;
    font-size: 14px;
    padding: 5px 10px;
    background-color: pink;
    border-radius: 5px;
    transition: 0.3s;
    opacity: 0;
}
.form-error {
    max-width: 200px;
    margin-top: 5px;
    font-size: 14px;
    padding: 5px 10px;
    background-color: pink;
    border-radius: 5px;
    transition: 0.3s;
    opacity: 0;
}
input[type="submit"], button {
    background: #00d4b9 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: 12px/35px;
    height: 35px;
    letter-spacing: 1px;
    padding: 0 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #00b2ae;
    text-transform: uppercase;
}

#phone1:invalid,
#code:invalid {
    border: 1px solid pink;
}

@media (max-width: 445px) {
    form > div {
        flex-direction: column;
        align-items: flex-start;
    }
    form > div > label {
        margin: 0;
        margin-top: 5px;
    }
}
@media (max-width: 385px) {
    main > .container > h1 {
        font-size: 28px;
    }
}