main > section:first-of-type {
    margin-bottom: 30px;
}
/* *************************************************** */
.section-title {
    text-align: left;
    line-height: 1.1;
    margin-bottom: 10px;
    text-transform: none;
}
main {
    color: #404E55;
}
/* *************************************************** */
/* *************************************************** */
/* *************************************************** */
.analys-area > .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}
.textArea {
    flex-basis: 65%;
    box-shadow: 10px 0px 10px -10px rgba(0,0,0,0.25);
    padding-right: 15px;
}
.analys-subtext {
    display: block;
    font-size: 12px;
    line-height: 1.1;
}
/* *************************************************** */
.citoItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.citoPicture {
    margin: 20px 0;
    flex-basis: 23%;
    height: 120px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
/* *************************************************** */
.text-tabs {
    margin-bottom: 15px;
}
.text-tabs > ul {
    justify-content: space-between;
    border-bottom: 1px solid #0091df;
}
.text-tabs > ul > li {
    display: block;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    flex-grow: 1;
    transition: 0.3s;
    white-space: nowrap;
}
.text-tabs > ul > li:nth-of-type(3) {
    color: red!important;
}
.selected-tab, .text-tabs > ul > li:hover {
    outline: none;
    color: #0085ce;
    box-shadow: inset 0px -1px 0px 0px #0085ce;
}
/* *************************************************** */
.analys-text {
    display: none;
    width: 100%;
}
.active-text {
    display: inline-block;
}
.analys-text > p {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 15px;
}
/* *************************************************** */
/* *************************************************** */
.buyArea {
    flex-basis: 33%;
    padding-left: 10px;
}
.textPrice {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    line-height: 1;
    font-size: 22px;
    margin-bottom: 10px;
}
.textPrice > p:first-of-type {
    text-decoration: line-through;
    margin-right: 15px;
}
.textPrice > p:nth-of-type(2) {
    font-size: 36px;
    color: #0085CE;
    font-family: 'Circe ExtraBold';
    margin-right: 10px;
}
/* *************************************************** */
.buy-button {
    cursor: pointer;
    background-color: #ccc;
    white-space: nowrap;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
/* *************************************************** */
.adress-text {
    font-size: 13px;
    text-align: right;
    line-height: 1.3;
}
.adress-text:first-of-type {
    color: #0085ce!important;
    font-size: 15px;
    margin-top: 60px;
}
.buyArea > p:last-of-type {
    color: #0085ce!important;
    line-height: 1.3;
    font-size: 15px;
    margin-top: 60px;
    margin-bottom: 10px;
}
/* *************************************************** */
.buyArea > .search-card {
    border: none;
    border-top: 1px solid #0085CE;
    margin: 0;
}
.buyArea > .search-card > .search-card-name {
    font-size: 13px;
    line-height: 1.3;
}
.buyArea > .search-card > .search-buy-block > div > .search-price > .slider-item-price {
    font-size: 15px;
    font-family: 'Circe ExtraBold';
}
.buyArea > .search-card > .search-buy-block > div > .search-price,
.buyArea > .search-card > .search-buy-block > div > .search-price > .small-price-text {
    line-height: 1.2;
}
.busket {
    width: 20px;
    height: 20px;
    background-position: 4px 6px;
    background-size: 15px;
}
/* *************************************************** */
/* ***************** vhodit v sostav ***************** */
/* *************************************************** */
.analys-text > .search-card > div {
    flex-basis: 70%;
}
.analys-text > .search-card > div > .search-card-name:first-of-type {
    font-size: 13px;
}
.analys-text > .search-card > div > .search-card-name {
    font-size: 10px;
}
.analys-text > .search-card > p {
    font-size: 9px;
    line-height: 15px;
    text-decoration: line-through;
}
.analys-text > .search-card > .search-price {
    flex-basis: 15%;
}
.analys-text > div > div > .slider-item-price {
    font-size: 13px;
    font-family: 'Circe ExtraBold';
}
.analys-text > .search-card {
    border-bottom: 1px solid rgba(197, 197, 197, 0.5);
}
.analys-text > .search-card:last-of-type {
    border: none;
}
/* *************************************************** */
/* **************** primer rezultatov **************** */
/* *************************************************** */
#text-5 {
    text-align: center;
}
#text-5 > img {
    width: 40%;
}



.search-buy-block {
    align-items: center!important;
}