.hide-price-block {
    display: none;
}
@media (max-width: 910px) {
    .citoItems {
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .citoPicture {
        flex-basis: 49%;
        margin: 0;
        margin-bottom: 5px;
    }
    .textPrice {
        font-size: 18px;
    }
    .textPrice > p:nth-of-type(2) {
        font-size: 32px;
    }
    .buy-button > img {
        width: 30px;
    }
    .buy-button {
        font-size: 16px;
        height: 35px;
    }
    .buyArea > p:last-of-type, .adress-text:first-of-type {
        margin-top: 40px;
    }
}
@media (max-width: 830px) {
    .analys-area > .container {
        flex-wrap: wrap;
    }
    .textArea, .buyArea {
        flex-basis: 100%;
    }
    .citoItems {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
    }
    .citoPicture {
        margin: 20px 0;
        flex-basis: 23%;
        height: 120px;
    }
    .text-tabs > ul{
        overflow-y: auto;
    }
    .textArea {
        padding: 0;
        box-shadow: 0px 12px 10px -10px rgba(0,0,0,0.1); 
        margin-bottom: 10px;
        overflow: hidden;
    }
    .price-block {
        display: none;
    }
    .hide-price-block {
        display: block;
    }
}

@media (max-width: 630px) {
    .citoPicture {
        height: 90px;
    }
}

@media (max-width: 520px) {
    .citoItems {
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .citoPicture {
        flex-basis: 49%;
        margin: 0;
        margin-bottom: 5px;
        height: 120px;
    }
    .analys-text > .search-card > .search-price {
        flex-basis: 30%;
    }
}

@media (max-width: 360px) {
    .citoPicture {
        flex-basis: 100%;
        margin-bottom: 10px;
        height: 190px;
    }
}

@media (max-width: 280px) {
    .section-title {
        font-size: 16px;
    }
    .analys-text > .search-card > div > .search-card-name:first-of-type {
        font-size: 11px;
        line-height: 1;
    }
    .analys-text > .search-card > div > .search-card-name {
        font-size: 8px;
    }
    .analys-text > div > div > .slider-item-price {
        font-size: 11px;
    }
    #text-4 > div > div > .small-price-text {
        margin: 0;
        font-size: 8px;
    }
}

@media (max-width: 240px) {
    .citoPicture {
        height: 150px;
    }
}